@model IEnumerable<Progetto.ViewModels.riassunpoPaes>
@{
    ViewBag.Title = "infopaes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Classifica Paesaggisti</h2>


<table id="paesaggisti" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Matricola Paesaggista</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
            <th>Numero Ordini</th>
            <th>Spesa Totale</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.nome</td>
                <td>@item.cognome</td>
                <td>@item.email</td>
                <td>@item.noexe</td>
                <td>@item.spesa €</td>
            </tr>
        }
    </tbody>
</table>
