@model IEnumerable<Progetto.ViewModels.riassuntoGiard>
@{
    ViewBag.Title = "infogiard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Classifica Giardinieri</h2>


<table id="giardinieri" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Matricola Giardiniere</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
            <th>Numero Ordini Eseguiti</th>
            <th>Guadagno Totale</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.nome</td>
                <td>@item.cognome</td>
                <td>@item.email</td>
                <td>@item.noexe</td>
                <td>@item.guadagno€</td>
            </tr>
        }
    </tbody>
</table>